.etr89bj1{
    border-radius: 8px;
}
.stButton {
    display: flex;
    justify-content: flex-end;
}
.e1tzin5v4 {
    align-items: center;
}
.main-svg{
    border: solid 1px #303239;
    border-radius: 8px;
}
div.element-container.css-7eizb9.e1tzin5v3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}